body{
    
  

}

.navbar{
  width: 100%;
  height: 5px;
  background-color: rgba(255,255,255,1.0);
  color: black;
  font-family:"Courier New";
  font-size: 1;
}

heading { 
    
    
}

body1{
    background: url("https://s3-media2.fl.yelpcdn.com/bphoto/_RlWwEX26oJsOiHfHc87tQ/180s.jpg") no-repeat center center fixed;
    background-size: center;
}


